<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>About</title>

</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Gene. Is uses data from <a href="https://mapbox.com" target="_blank"
        rel="noopener noreferrer">mapbox.com</a> and <a href="https://weatherstack.com" target="_blank"
        rel="noopener noreferrer">weatherstack.com</a>!</p>
    <div class="aspect-ratio-box">
      <img id="about-picture" src="/images/Beatrice_Anime.png" alt="Re:zero Beatrice" />
    </div>
  </div>

  {{>footer}}
</body>

</html>