<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>About</title>

</head>

<body>
  <div class="main-content">
    {{>header}}
    <div class="aspect-ratio-box">
      <img id="about-picture" src="/images/Beatrice_Anime.png" alt="Re:zero Beatrice" />
    </div>
  </div>

  {{>footer}}
</body>

</html>